<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Hash</title>
</head>
<body>
{% if type == 'hashed' %}
<h1>Password Hashing</h1>
<h5><a href="/">Home</a></h5>
<form action="/hashed" method="post">
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
<table>
    <tr>
        <td>
            <b>Hashes: </b>
        </td>
        <td>
            <select name="opts">
                <option {% if select =='default' %} selected {% endif %} disabled>Please select one of hash method</option>
                <option {% if select =='argon2' %} selected {% endif %} value="argon2">Argon2</option>
                <option {% if select =='bcrypt' %} selected {% endif %}value="bcrypt">Bcrypt</option>
            </select>
        </td>
    </tr>
    <tr><td><b>Input your password: </b></td><td><input required name="passwordstring" type="text"></td></tr>
    <tr><td><button type="submit">Hashing</button></td></tr>
</table>
</form>
{% endif %}
<div style="height: 20px"></div>
<table>
    {% if hash is sameas true %}

    <form action="/hashed?type={{hashedType}}&encrypted={{pwdEncrypted}}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <tr>
            <td>
                <h1>Check password</h1>
            </td>
        </tr>
        <tr>
            <td><h3>After hashing, your password is encrypted, you can check your password (correct/incorrect) by comparing your sensible password with hashed password</h3></td>
        </tr>
        <tr>
            <td>Your hashed password:  <b>{{pwdEncrypted}}</b></td>
        </tr>
        <tr>
            <td>Your password:  <input name="passwordcheck" type="text" required></td>
        </tr>
        <tr><td><button type="submit">Checking password</button></td></tr>
    </form>
    {% endif %}
</table>
</body>
</html>