<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Generation</title>
</head>
<body>
<h1>Secure Password Generator</h1>
<h5><a href="/">Home</a></h5>
<h5><a href="/hashed">Hashing/Checking</a></h5>
<form action="/" method="post">
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
<table>
    <tr>
        <td>
            <b>Generator: </b>
        </td>
        <td>
            <select name="opts">
                <option {% if select =='default' %} selected {% endif %} disabled>Please select</option>
                <option {% if select =='alphanumeric' %} selected {% endif %}value="alphanumeric">Alphanumeric random password</option>
                <option {% if select =='hexa' %} selected {% endif %}value="hexa">Hexa-secret random password</option>
                <option {% if select =='uuid' %} selected {% endif %}value="uuid">UUID random password</option>
            </select>
        </td>
    </tr>
    <tr><td><button type="submit">Generate</button></td></tr>
</table>
<div style="height: 20px"></div>
<table>
    {% if gotValue is sameas true %}
    <tr>
        <td><b>Your New Password: </b></td>
        <td>{{ password }}</td>
    </tr>
    {% endif %}
</table>

</form>
</body>
</html>